.form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-control{
  border-color: rgb(121, 121, 121);
  width: 600px;
  margin: 0 auto 0  auto;
  border-radius: 20px;
}

.form-control:focus{
  border-color: rgb(121, 121, 121);
  box-shadow: none;
}

.btn-outline-dark {
  border-color: rgb(121, 121, 121);
  box-shadow: none;
  border-radius: 20px;
}

.btn-outline-dark:focus{
  border-color: rgb(121, 121, 121);
  box-shadow: none;
}

.button-search {
  height: 38px;
  margin-left: 10px;
  color: rgb(121, 121, 121);
} 